# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
defaults: &defaults
  docker:
    - image: circleci/openjdk:8-jdk

  environment:
    MAVEN_OPTS: -Xmx3200m


version: 2
jobs:
  test_and_package:
    <<: *defaults

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - mvn-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - mvn-dependencies-
      - restore_cache:
          keys:
          - yarn-dependencies-{{ checksum "src/main/app/yarn.lock" }}
          # fallback to using the latest cache if no exact match is found
          - yarn-dependencies-

      - run: mvn dependency:go-offline generate-resources

      - save_cache:
          paths:
            - ~/.m2
          key: mvn-dependencies-{{ checksum "pom.xml" }}
      - save_cache:
          paths:
            - src/main/app/node_modules
          key: yarn-dependencies-{{ checksum "src/main/app/yarn.lock" }}

      # includes package goal
      - run: >
          mvn
          -s settings.xml
          integration-test
          jib:build

      - run: |
          mkdir -p /tmp/jars
          cp target/kidsbank-js*.jar /tmp/jars
      - store_artifacts:
          path: /tmp/jars
          destination: jars

  release:
    <<: *defaults

    steps:
      - checkout

      - run:
          name: Checking if this is a release build
          command: |
            if [[ $RELEASE && $NEXT ]]; then
              if [[ $GIT_USER_EMAIL ]]; then git config --global user.email "$GIT_USER_EMAIL" ; fi
              if [[ $GIT_USER_NAME ]]; then git config --global user.name "$GIT_USER_NAME" ; fi
              mvn -B release:prepare -DreleaseVersion=$RELEASE -DdevelopmentVersion=$NEXT
            else
              echo "Release skipped. Use this to perform a release:
              curl -X POST -H \"Content-Type: application/json\" -d '{
                  \"build_parameters\": {
                      \"RELEASE\": \"1.1.1\",
                      \"NEXT\": \"1.2-SNAPSHOT\",
                  }
              }' \"https://circleci.com/api/v1.1/project/github/ORG/PROJECT/tree/master?circle-token=TOKEN\"
              "
            fi

workflows:
  version: 2
  test_and_package:
    jobs:
      - test_and_package
