SPRING_SOCIAL_FACEBOOK_APPID=
SPRING_SOCIAL_FACEBOOK_APPSECRET=
SPRING_SOCIAL_GITHUB_APPID=
SPRING_SOCIAL_GITHUB_APPSECRET=
SPRING_SOCIAL_LINKEDIN_APPID=
SPRING_SOCIAL_LINKEDIN_APPSECRET=
SPRING_SOCIAL_TWITTER_APPID=
SPRING_SOCIAL_TWITTER_APPSECRET=
